<div class="big-design-card bg-{{ iconColor }} p-0 m-0 rounded-pill">
  <div class="big-design-notif-flex text-dark rounded-pill">
    <div class="h-100 d-flex justify-content-start align-items-center">
      <div
        class="bg-white rounded-circle shadow d-flex justify-content-center align-items-center p-1"
        style="aspect-ratio: 1; overflow: hidden; height: 47.5px"
        role="button"
        [mdbPopover]="template"
        placement="right"
        [trigger]="'hover'"
        id="kicon"
      >
        <div
          class="bg-orange rounded-circle w-100 h-100 d-flex justify-content-center align-content-center p-0 notif-icon"
        >
          <mat-icon class="primary-text  m-auto" style="font-size: 25px">
            {{ icon }}
          </mat-icon>
        </div>
      </div>    

      <div class="big-design-notif-content-body" id="hide">
        <div class="big-design-notif-title fw-normal">{{ title }}</div>
        <!-- <a
          *ngIf="actionBtn"
          class="big-design-button mt-2"
          role="button"
          (click)="actionBtnPressed.emit(true)"
          >{{ actionBtn }}</a
        > -->
      </div>

      <ng-template #template>
        <div class="popover-body-padding bg-theme">
            <b class="fw-bolder mb-4 text-light-success">{{title}}</b>
            <br />
            {{subtitle}}
          <!-- <div class="w-100 h-100 mt-3">
            <button
              (click)="remove(address, result == 'y')"
              id="removeBtn"
              class="w-100 btn primary-background primary-text  fw-bold rounded-10 px-4 py-2"
            >
              Remove
            </button>
          </div> -->
        </div>
      </ng-template>
    </div>
    <div *ngIf="canClose" class="h-100">
      <a
        role="button"
        class="big-design-notif-button"
        (click)="didClose.emit(true)"
      >
        <mat-icon> close </mat-icon>
      </a>
    </div>
  </div>
</div>
