<!-- <div class="big-design-header">
  <h2 class="big-design-title formatted w-100">
    {{ coord!.count | i18nPlural: viewMapping }}
  </h2>
</div> -->

<div class="w-100 h-100 big-design-body p-4">
  <img
    class="w-100 rounded-15 shadow bg-light border"
    style="object-fit: cover; aspect-ratio: 1"
    [src]="coord!.app.displayUrls[0]"
    role="button"
    (click)="openDialog()"
  />
  <div class="w-100 text-center">
    <p class="mt-3">{{ coord!.address.city }}, {{ coord!.address.country }}</p>

    <div
      class="mt-2 text-start d-flex justify-content-{{
        coord!.views > 0 && coord!.sales > 0 ? 'between' : 'center'
      }} align-items-center"
    >
      <div
        class="fw-bolder d-flex justify-content-start align-items-center"
        *ngIf="coord!.views > 0"
      >
        <div
          class="rounded-circle me-1 bg-danger"
          style="height: 7.5px; aspect-ratio: 1"
        ></div>
        {{ coord!.views | i18nPlural: viewMapping }}
      </div>
      <div
        class="fw-bolder d-flex justify-content-start align-items-center"
        *ngIf="coord!.sales > 0"
      >
        <div
          class="rounded-circle me-1 bg-success"
          style="height: 7.5px; aspect-ratio: 1"
        ></div>
        {{ coord!.sales | i18nPlural: saleMapping }}
      </div>
    </div>
    <!-- <p class="mt-2">{{ coord!.time | dateConstruct | dateAgo }}</p> -->
  </div>
  <div class="d-none d-md-block">
    <hr />
    <div
      class="mt-2 fw-bolder d-flex justify-content-between align-items-start"
    >
      <p class="single-line w-50 d-block">
        {{ coord!.app.name }}
      </p>
      <app-status
        class="my-0"
        role="button"
        [status]="coord!.app.status"
      >
      </app-status>
    </div>
    <!-- <p class="mt-0 single-line"><b>Edition:</b> {{ coord!.s.tokenId }}</p> -->
    <p class="mt-0 single-line">
      {{ coord!.app.created | date }}
    </p>
  </div>
</div>
