.notif-icon {
  transition: transform 0.25s ease-in-out;
}

.notif-icon:hover {
  transform: rotate(180deg) scale(1.2, 1.2);
}

.success-hover:hover {
  background-color: #01df5d !important;
}

.danger-hover:hover {
  background-color: #dc3545 !important;
}

:host ::ng-deep .mat-option .mat-pseudo-checkbox {
  display: none;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.img-input {
  overflow: hidden;
  .img-input-display {
    display: none;
  }
  img {
    display: block;
  }
  mat-icon {
    display: none;
  }
}

.m-img-input {
  overflow: hidden;
  .m-img-input-display {
    opacity: 1;
  }
  mat-icon {
    display: none;
  }
}

.img-input:hover {
  .img-input-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12.5%;
  }

  img {
    display: none;
  }
  mat-icon {
    display: block;
  }
}

.m-img-input:hover {
  .m-img-input-display {
    opacity: 0.5;
  }
  mat-icon {
    display: block;
  }
}

.nft-img {
  width: 47.5px;
  height: 47.5px;
  object-fit: cover;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

.rounded-panel.mat-select-panel {
  border-radius: 15px !important;
}

// :host
//   ::ng-deep
//   .mat-slide-toggle.mat-checked:not(.mat-disabled)
//   .mat-slide-toggle-bar {
//   background-color: white //var(--primaryHoverColor);
// }

// :host
//   ::ng-deep
//   .mat-slide-toggle.mat-checked:not(.mat-disabled)
//   .mat-slide-toggle-thumb {
//   background-color: #e2e2e2 //var(--primaryColor);
// }

.truncate {
  /**Major Properties**/
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.rounded-10 {
  border-radius: 10px;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 100%;
}



.text-light-purple {
  color: rgb(229, 150, 255);
}

.bg-edit {
  background-color: rgb(136, 219, 255);
}

// :root {
//   --ion-color-dark: #131313;
//   --ion-color-dark-rgb: 19,19,19;
//   --ion-color-dark-contrast: #131313;
//   --ion-color-dark-contrast-rgb: 0,0,0;
//   // --ion-color-rose-shade: #e0b4ba;
//   // --ion-color-rose-tint: #fed2d7;
// }

// .ion-color-edit {
//   --ion-color-base: var(--ion-color-dark);
//   --ion-color-base-rgb: var(--ion-color-dark-rgb);
//   --ion-color-contrast: var(--ion-color-dark-contrast);
//   --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
//   // --ion-color-shade: var(--ion-color-rose-shade);
//   // --ion-color-tint: var(--ion-color-rose-tint);
// }

.light-mode-switch-icon {
  font-size: 16px;
  position: absolute;
  margin: 2px 0 0 2px;
  color: rgba(0, 0, 0, 0.87);
}

.rightBarExtend{
  animation: extendbar 0.1s forwards !important;
}

.rightBarNoExtend{
  animation: noextendbar 0.1s forwards !important;
}



@keyframes extendbar {
  0% {
    width: 250px
  }
  100% {
    width: 350px
    //transform: translateX(100%);
  }
}

@keyframes noextendbar {
  0% {
    width: 350px
  }
  100% {
    width: 250px
    //transform: translateX(100%);
  }
}


.proj:hover{
  background-color: var(--secondarySectionHoverColor);
}

.proj-select{
  background-color: var(--primarySectionHoverColor);
}

