<mat-sidenav-container
  class="w-100 h-100"
  [hasBackdrop]="false"
  (backdropClick)="nav.close()"
  *ngIf="selectedFile && this.workflow"
>
  <mat-sidenav
    class="primary-background border-0"
    #nav
    [position]="'end'"
    [opened]="true"
    (openedChange)="resize()"
  >
    <div
      class="primary-background h-100"
      style="width: 250px"
      [hidden]="selectedFile && selectedFile.id != 'main'"
    >
      <!-- [class.rightBarNoExtend]="selectedFile && selectedFile.id == 'main'" -->

      <div
        class="h-100 d-flex justify-content-center align-items-center flex-column"
      >
        <div
          class="w-100 p-3 pb-0 pt-4 d-flex justify-content-start align-items-center"
        >
          <span class="fw-bold primary-text">
            Controllers <br /><span class="fw-normal" style="font-size: x-small"
              >Drag and drop</span
            ></span
          >
        </div>

        <div
          id="toolbar-nav"
          class="w-100 h-100 p-3"
          style="overflow-y: scroll"
        ></div>
      </div>
    </div>

    <div
      class="primary-background h-100"
      style="width: 350px"
      [hidden]="selectedFile && selectedFile.id == 'main'"
    >
      <!-- [class.rightBarExtend]="selectedFile && selectedFile.id != 'main'" -->

      <div
        class="h-100 d-flex justify-content-center align-items-center flex-column position-relative"
      >
        <div
          class="w-100 p-3 pb-0 pt-4 d-flex justify-content-start align-items-center"
        >
          <span class="fw-bold primary-text">
            Controller <br /><span class="fw-normal" style="font-size: x-small"
              >Settings</span
            ></span
          >
        </div>

        <div class="w-100 h-100 p-3" style="overflow-y: scroll">
          <ng-container
            *ngIf="
              selectedFile.type == 'gpt-LLM' ||
              selectedFile.type == 'switch' ||
              selectedFile.type == 'dalle-TIM'
            "
          >
            <div class="w-100 pb-3">
              <verticalai-textbox
                [title]="'Guidance'"
                [value]="selectedFile.properties['systemPrompt']"
                [placeholder]="placeholders[selectedFile.type]"
                (changed)="
                  selectedFile.properties['systemPrompt'] = $event;
                  saveLayout();
                  logEvent($event)
                "
              >
              </verticalai-textbox>
            </div>

            <div
              class="w-100 pb-3"
              *ngIf="
                selectedFile.type == 'gpt-LLM' ||
                selectedFile.type == 'dalle-TIM'
              "
            >
              <verticalai-layout-slider
                [value]="selectedFile.properties['temp'] ?? 0.5"
                [title]="'Creativity Level'"
                [lineFillColor]="'#0A99FF'"
                (valueChange)="
                  selectedFile.properties['temp'] = $event;
                  saveLayout();
                  logEvent($event)
                "
              >
              </verticalai-layout-slider>
            </div>

            

            <ng-container *ngIf="selectedFile.type == 'switch'">
              <ng-container
                *ngIf="selectedFile | cast : BranchedStep as branchStep"
              >
                <div
                  class="w-100 d-flex justify-content-between align-content-center pb-3 mb-3 mt-4 primary-text border-table-bottom"
                >
                  <p class="w-100 fw-bold">Decision Paths</p>
                  <mat-icon
                    class="m-auto primary-text"
                    role="button"
                    (click)="newBranch(branchStep)"
                  >
                    add
                  </mat-icon>
                </div>

                <div class="w-100">
                  <div
                    *ngFor="
                      let branch of (branchStep.branches | dictToArr) ?? [];
                      index as i
                    "
                    class="pb-4 d-flex justify-content-between align-items-center"
                  >
                    <div class="primary-text">
                      {{ branch.name }}
                    </div>
                    <!-- 
                  <div
                    class="btn bg-orange primary-text   fw-bold rounded-10"
                  >
                    Edit 
                  </div> -->

                    <div
                      class="btn bg-orange shadow-0 text-white fw-bold rounded d-flex p-1 justify-content-center align-items-center"
                      (click)="onRightClick($event, branch.name, branchStep)"
                    >
                      <ion-icon
                        class="m-auto"
                        [name]="'settings-outline'"
                        slot="end"
                        role="button"
                        [matTooltip]="'Actions'"
                      ></ion-icon>
                    </div>
                    <!-- <div class="w-100 mb-2">
                    <verticalai-text-field
                      [value]="branch.name"
                      [defaultValue]="'Option ' + (i + 1)"
                      [placeholder]="'Branch Name'"
                      [btn]="true"
                      [simplify]="true"
                      [btnIcon]="'close'"
                      (btnClicked)="deleteBranch(branchStep, branch.name)"
                      (changed)="
                        isNameTaken($event, branchStep)
                          ? null
                          : changeBranchName($event, branchStep, i)
                          
                      "
                    >
                    </verticalai-text-field>
                  </div> -->

                    <!-- <div class="w-100 pb-3">
                    <verticalai-textbox
                      [title]="'Description'"
                      [simplify]="true"
                      [value]="
                        (branchStep.properties['branches'] | cast : any)[
                          branch.name
                        ]?.description ?? ''
                      "
                      [corners]="'rounded-10'"
                      [placeholder]="'Description (Required)'"
                      (changed)="
                        setBranchDescription(branchStep, branch.name, $event)
                      "
                    >
                    </verticalai-textbox>
                  </div> -->
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="selectedFile.type == 'container'">
            <div class="w-100 mb-3">
              <verticalai-text-field
                [title]="'Frequency'"
                [value]="selectedFile.properties['frequency'] ?? 1"
                [type]="'number'"
                [defaultValue]="1"
                [placeholder]="'ex. 2'"
                [range]="{ min: 1, max: 5 }"
                (changed)="
                  selectedFile.properties['frequency'] = $event;
                  saveLayout();
                  logEvent($event)
                "
              >
              </verticalai-text-field>
            </div>
          </ng-container>

          <ng-container
            *ngIf="
              (models[(selectedFile.type | split : '-')[1]] ?? { models: {} })
                .models[selectedFile.type]?.variations as variations
            "
          >
            <div class="w-100 pb-3" *ngIf="variations.length > 0">
              <verticalai-select-field
                [title]="'Type'"
                [value]="
                  selectedFile.properties['engine'] ?? variations[0]?.id ?? ''
                "
                [data]="variations"
                [valueField]="'id'"
                [displayField]="'name'"
                (changed)="
                  selectedFile.properties['engine'] = $event;
                  saveLayout();
                  logEvent($event)
                "
              >
              </verticalai-select-field>
            </div>
          </ng-container>

          <div class="w-100 pb-3 mt-4" *ngIf="selectedFile.type == 'gpt-LLM'">
            <div class="btn bg-orange text-white fw-bold" (click)="openDatabase(selectedFile)">
              Edit Training Data
            </div>
          </div>
          
        </div>
       
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="secondary-background">
    <div
      class="w-100 h-100"
      id="container"
      [style.padding-right]="
        nav.opened ? (selectedFile.id == 'main' ? '250px' : '350px') : '0'
      "
    >
      <div class="h-100 w-100" style="position: relative" #parent>
        <div
          class="position-absolute d-flex justify-content-between align-items-center m-3"
          style="z-index: 55; right: 0; top: 0"
        >
          <a
            class="btn primary-background rounded-10 border-0 fw-bold primary-text d-flex justify-content-center p-1 align-content-center"
            (click)="nav.toggle(); setToolbarLoc()"
            [matTooltip]="'Toggle Controller Menu'"
            [matTooltipPosition]="'left'"
          >
            <mat-icon class="fw-bold" style="aspect-ratio: 1">
              {{ nav.opened ? "close" : "add" }}
            </mat-icon>
          </a>
        </div>

        <div
          class="position-absolute d-flex justify-content-between align-items-center m-3"
          style="z-index: 55; left: 0; bottom: 0"
        >
          <div class="primary-background btn-shadow rounded-10 px-2 py-1">
            <mat-slide-toggle
              #gridModeSwitch
              class="primary-text"
              [ngModel]="showingGrid"
              (ngModelChange)="showGrid = $event"
              [matTooltip]="'Toggle Grid'"
            ></mat-slide-toggle>
          </div>
        </div>

        <ng-container *ngIf="workflow">
          <sqd-designer
            [theme]="theme"
            [undoStackSize]="0"
            [definition]="workflow.layout"
            [toolboxConfiguration]="toolboxConfiguration"
            [stepsConfiguration]="stepsConfiguration"
            [areEditorsHidden]="true"
            [controlBar]="true"
            [stepEditor]="stepEditor"
            [globalEditor]="globalEditor"
            (onReady)="onDesignerReady($event)"
            (onDefinitionChanged)="definitionChanged($event)"
          >
          </sqd-designer>

          <ng-template #globalEditor let-editor> </ng-template>

          <ng-template #stepEditor stepEditor let-editor>
            <!-- <div
            class="w-100"
            style="overflow-y: scroll"
            [style.height.px]="parent.clientHeight"
          >
            <ion-accordion-group
              class="example-headers-align bg-transparent animate__animated animate__fadeIn"
              [multiple]="true"
              [value]="openLayouts"
              *ngIf="workflow"
              (ionChange)="setOpenLayouts($event)"
              id="accordion"
            >
              <ion-accordion class="bg-transparent" value="general">
                <ion-item slot="header" class="primary-text   " [color]="theme">
                  <ion-label>General</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <div class="w-100 mb-3">
                    <verticalai-text-field
                      [title]="'Label'"
                      [value]="editor.step.name"
                      [bgColor]="'#1F1F1F'"
                      [defaultValue]="editor.step.properties.defaultName"
                      [placeholder]="'Task Label'"
                      (changed)="
                        editor.step.name = $event;
                        editor.context.notifyNameChanged()
                      "
                    >
                    </verticalai-text-field>
                  </div>
                </div>
              </ion-accordion>
    
              <ng-container *ngIf="editor.step.type != 'break'">
                <ion-accordion
                  value="config"
                  class="bg-transparent"
                  *ngIf="editor.step.properties.type != 'model'"
                >
                  <ion-item slot="header" class="primary-text   " [color]="theme">
                    <ion-label>Configuration</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ng-container *ngIf="editor.step.componentType == 'switch'">
                      <div
                        class="w-100 d-flex justify-content-between align-content-center mb-3 mt-4 text-white"
                      >
                        <p class="w-100">Branches</p>
                        <mat-icon
                          class="m-auto text-orange"
                          role="button"
                          (click)="newBranch(editor.step, editor.context, editor)"
                        >
                          add
                        </mat-icon>
                      </div>
    
                      <div
                        *ngFor="
                          let branch of (editor.step.branches | dictToArr) ?? [];
                          index as i
                        "
                      >
                        <div class="w-100 mb-3">
                          <verticalai-text-field
                            [value]="branch.name"
                            [defaultValue]="'Option ' + (i + 1)"
                            [placeholder]="'Branch Name'"
                            [btn]="true"
                            [simplify]="true"
                            [btnIcon]="'close'"
                            [bgColor]="'#1F1F1F'"
                            (btnClicked)="
                              deleteBranch(editor.step, editor.context, branch.name)
                            "
                            (changed)="
                              isNameTaken($event, editor.step)
                                ? null
                                : changeBranchName(
                                    $event,
                                    editor.step,
                                    i,
                                    editor.context
                                  )
                            "
                          >
                          </verticalai-text-field>
                        </div>
                      </div>
                    </ng-container>
    
                    <ng-container *ngIf="editor.step.componentType == 'container'">
                      <div class="w-100 mb-3">
                        <verticalai-text-field
                          [title]="'Frequency'"
                          [value]="editor.step.properties['frequency'] ?? 1"
                          [type]="'number'"
                          [defaultValue]="1"
                          [placeholder]="'ex. 2'"
                          [bgColor]="'#1F1F1F'"
                          [range]="{ min: 1, max: 5 }"
                          (changed)="
                            editor.step.properties['frequency'] = $event;
                            editor.context.notifyPropertiesChanged();
                            saveLayout(); logEvent($event)
                          "
                          (refresh)="refreshStepEditor(editor.step)"
                        >
                        </verticalai-text-field>
                      </div>
                    </ng-container>
                  </div>
                </ion-accordion>
    
                <ion-accordion value="advanced" class="bg-transparent">
                  <ion-item slot="header" class="primary-text   " [color]="theme">
                    <ion-label>Advanced</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ng-container
                      *ngIf="
                        editor.step.properties.type == 'model' ||
                        editor.step.properties.type == 'web'
                      "
                    >
                      <ng-container
                        *ngIf="
                          apiKeys[editor.step.id] ??
                          { id: editor.step.id, key: '' } as apiKey
                        "
                      >
                        <div
                          class="w-100 mb-3"
                          *ngIf="
                            editor.step.properties.type == 'model'
                              ? 'Model'
                              : 'SerpApi' as prefix
                          "
                        >
                          <verticalai-text-field
                            [title]="prefix + ' API Key'"
                            [value]="apiKey.key"
                            [bgColor]="'#1F1F1F'"
                            [type]="'text'"
                            [defaultValue]="''"
                            [placeholder]="'API Key'"
                            (refresh)="refreshStepEditor(editor.step)"
                            (changed)="saveAPIKey(editor.step.id, $event)"
                          >
                          </verticalai-text-field>
                        </div>
                      </ng-container>
                    </ng-container>
    
                  </div>
                </ion-accordion>
              </ng-container>
          </ion-accordion-group>
          </div> -->
          </ng-template>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu" class="primary-background">
  <ng-template matMenuContent let-item="item" let-step="step">
    <ng-container *ngIf="item.id != 'app' && item.id != 'main'">
      <button
        mat-menu-item
        class="primary-text proj"
        (click)="openBranchSettings(step, item)"
      >
        Edit Path
      </button>

      <button
        mat-menu-item
        class="primary-text proj"
        *ngIf="step.properties['default'] != item"
        (click)="
          step.properties['default'] = item; saveLayout(); logEvent($event)
        "
      >
        Make Default
      </button>

      <button
        mat-menu-item
        [disabled]="true"
        class="secondary-text proj"
        *ngIf="step.properties['default'] == item"
        [disabled]="true"
      >
        Default Path
      </button>

      <button
        mat-menu-item
        class="primary-text proj"
        (click)="deleteBranch(step, item)"
      >
        Delete
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
