<div class="big-design-header px-0 pb-2 align-items-start">
  <p class="big-design-title single-line d-block pb-2">
    {{ loc?.name }}
  </p>
  <div class="rounded-pill border py-2 px-4 d-none d-md-block">
    <mat-form-field
      appearance="legacy"
      class="mat-form-field-no-padding py-0"
      *ngIf="(utils && filter.id == 1) || filter.id == 0"
    >
      <mat-select
        [(ngModel)]="filter"
        class="big-design-input-text"
        (selectionChange)="changed($event)"
      >
        <mat-select-trigger
          class="d-flex align-items-center big-design-input-text"
        >
          {{ filter.name }}
        </mat-select-trigger>
        <mat-option
          class="big-design-input-text"
          *ngFor="let f of filters"
          [value]="f"
        >
          {{ f.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div
  class="big-design-body position-relative rounded-15 border"
  style="height: 55vh"
>
  <div class="w-100 h-100" style="overflow-x: scroll">
    <table
      #table
      mat-table
      [dataSource]="dataSource ?? []"
      class="shadow-none w-md-100"
      style="width: 650px"
      *ngIf="(utils && filter.id == 1) || filter.id == 0"
    >
      <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
          Users
        </th>
        <td mat-cell *matCellDef="let element" class="big-design-body">
          {{ element.views }}
        </td>
      </ng-container>

      <ng-container matColumnDef="downloads">
        <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
          Accounts
        </th>
        <td mat-cell *matCellDef="let element" class="big-design-body">
          {{ element.sales }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body fw-bold"
        ></th>
        <td mat-cell *matCellDef="let element" class="text-end">
          <a
            *ngIf="filter.id == 0"
            class="big-design-button text-dark border-0 fw-bold me-0"
            role="button"
            matTooltip="View Location"
          >
            <mat-icon> travel_explore </mat-icon>
          </a>
          <a
            *ngIf="filter.id == 1"
            class="big-design-button border-0 fw-bold me-0 text-secondary"
            role="button"
          >
            <mat-icon> download </mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
          {{ filter.id == 0 ? "Location" : "Name" }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="big-design-body nft-name text-truncate pe-4"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <tr
        class="w-md-25"
        style="height: 50px; background-color: rgb(246, 246, 246)"
        mat-header-row
        *matHeaderRowDef="displayedColumns2; sticky: true"
      ></tr>
      <tr
        mat-row
        class="w-md-25"
        style="height: 70px"
        *matRowDef="let row; columns: displayedColumns2"
        (click)="clicked.emit({ mode: filter.id, data: row })"
      ></tr>

      <tr *matNoDataRow>
        <td
          class="mat-cell border-0"
          style="height: 250px"
          [attr.colspan]="displayedColumns2.length"
        >
          <p
            class="w-100 text-center big-design-title my-2"
            style="font-size: large"
          >
            No activity to show.
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="w-100 position-absolute px-0" style="bottom: 0; margin-bottom: 0">
    <mat-paginator
      class="mat-elevation-z0 big-design-body d-flex justify-content-center justify-content-md-end align-content-center"
      #paginator
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
      [showFirstLastButtons]="false"
      aria-label="Select page of tokens"
    >
    </mat-paginator>
  </div>
</div>
