<div class="w-100 px-0" *ngIf="simplify; else full">
  <ng-container *ngTemplateOutlet="input"></ng-container>
</div>

<ng-template #full>
  <div class="wrap-input1 w-100 pt-{{ title != '' ? '3' : '0' }}">
    <p *ngIf="title != ''" class="w-100 mb-3" [style.color]="textColor">
      {{ title }}
    </p>
    <div class="px-0 w-100">
      <ng-container *ngTemplateOutlet="input"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #input>
  <div
    class="{{
      corners
    }} w-100 px-2 pe-3 d-flex justify-content-between align-content-center"
    style="border-width: 1; border-style: solid"
    [style.background-color]="bgColor"
    [style.color]="textColor"
    [style.border-color]="borderColor"
  >
    <ion-textarea
      *ngIf="animation == 'none'; else animate"
      [style.max-height]="maxHeight > 0 ? maxHeight + 'px' : 'auto'"
      [style.overflow-y]="maxHeight > 0 ? 'scroll' : 'visible'"
      fill="solid"
      [value]="value | textAreaRender"
      [autoGrow]="true"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [labelPlacement]="'stacked'"
      (ionInput)="onInput($event)"
    ></ion-textarea>
    
    <ng-template #animate>
        <div
          class="d-flex justify-content-start align-content-start w-100"
          style="height: 75px"
        >
          <div class="typing ms-2 mt-4">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
    </ng-template>
  </div>
</ng-template>
