<div
  class="secondary-background  h-100 border-table-right d-flex justify-content-start align-content-center flex-column"
  style="
    width: 250px !important;
    min-width: 250px !important;
    overflow-y: scroll;
  "
>
  <!-- [value]="openLayouts"
      (ionChange)="setOpenLayouts($event)" -->

  <div class="w-100 p-3">
    <button
      class="btn bg-orange border-0 rounded-10 fw-bold primary-text  d-flex w-100 justify-content-center px-3 align-content-center py-2 my-auto"
      (click)="saveLayout()"
    >
      <!-- (click)="edited ? save() : publish(workflow)"
        [disabled]="loading" -->
      <ng-container *ngIf="loading; else buttonTitles">
        <span class="mx-auto">
          {{ "Saving" }}
          <span
            class="spinner-border spinner-border-sm ms-2 m-auto"
            role="status"
            aria-hidden="true"
          ></span>
        </span>
      </ng-container>

      <ng-template #buttonTitles>
        <ng-container> {{ "Publish" }}</ng-container>
        <mat-icon class="fw-bold ms-2" style="aspect-ratio: 1">
          publish
        </mat-icon>
      </ng-template>
    </button>
  </div>

  <div
    class="w-100 row cols-1 justify-content-center h-100"
    style="overflow-y: scroll"
  >
    <div
      class="col w-100 bg-info d-flex justify-content-start align-content-center"
    >
      <mat-icon>text_snippet</mat-icon>
    </div>
  </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu" class="primary-background border-table">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item class="primary-text  ">Rename</button>
    <button mat-menu-item class="primary-text  ">Delete</button>
  </ng-template>
</mat-menu>
