<div
  class="bg-theme-2 h-100 border-table-right"
  style="
    width: 250px !important;
    min-width: 250px !important;
    overflow-y: scroll;
  "
>
  <!-- [value]="openLayouts"
      (ionChange)="setOpenLayouts($event)" -->

  <div
    class="w-100 p-3 d-flex justify-content-between align-content-center border-bottom"
    style="height: 70px"
  >
    <button
      class="btn bg-orange border-0 rounded-10 fw-bold text-white d-flex w-100 justify-content-center px-3 align-content-center py-2 my-auto"
      (click)="saveLayout()"
    >
      <!-- (click)="edited ? save() : publish(workflow)"
        [disabled]="loading" -->
      <ng-container *ngIf="loading; else buttonTitles">
        <span class="mx-auto">
          {{ "Saving" }}
          <span
            class="spinner-border spinner-border-sm ms-2 m-auto"
            role="status"
            aria-hidden="true"
          ></span>
        </span>
      </ng-container>

      <ng-template #buttonTitles>
        <ng-container> {{ "Save" }}</ng-container>
        <mat-icon class="fw-bold ms-2" style="aspect-ratio: 1">
          cloud_upload
        </mat-icon>
      </ng-template>
    </button>
    <button
      class="btn bg-secondary border-0 rounded-10 fw-bold text-white d-flex justify-content-center py-2 px-2 align-content-center ms-2 my-auto"
      [mdbPopover]="template2"
      placement="bottom"
      [trigger]="'click'"
      #folderToggle
    >
      <mat-icon class="fw-bold" style="aspect-ratio: 1"> folder </mat-icon>
    </button>
  </div>

  <ng-container *ngIf="executable">
    <div
      class="w-100 text-light p-3 d-flex justify-content-between align-items-center mb-2"
    >
      <span class="text-start h5 fw-bold my-auto"> Project</span>
      <ion-icon
        class="text-light my-auto"
        style="font-size: 20px; cursor: pointer"
        [name]="'settings-outline'"
        slot="end"
        role="button"
        (click)="openControllerSettings('main')"
      ></ion-icon>
    </div>

    <ng-container
      *ngTemplateOutlet="recursiveList; context: { $implicit: items }"
    ></ng-container>
  </ng-container>

  <ng-template #recursiveList let-list>
    <div class="w-100" *ngFor="let item of list">
      <ng-container *ngIf="item.type == 'category'; else modelTab">
        <ion-accordion-group
          class="example-headers-align bg-transparent"
          [multiple]="true"
          [value]="['code']"
        >
          <ion-accordion class="bg-transparent" [value]="'code'">
            <ion-item slot="header" class="text-light no-padding">
              <ion-thumbnail
                *ngIf="item.id == 'app'"
                slot="start"
                [style.--border-radius]="'6px'"
              >
                <img [src]="item.metadata.img ?? ''" />
              </ion-thumbnail>

              <ion-label
                style="font-size: 14px"
                (contextmenu)="
                  item.id == 'app' ? onRightClick($event, item) : undefined
                "
                >{{ item.name }}</ion-label
              >
            </ion-item>

            <div class="ion-padding text-light" slot="content">
              <ng-container *ngIf="item.categoryTask as catTask">
                <ng-container
                  *ngTemplateOutlet="modelItem; context: { $implicit: catTask }"
                ></ng-container>
              </ng-container>

              <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: item.sequence }
                "
              ></ng-container>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
      <ng-template #modelTab>
        <ng-container
          *ngTemplateOutlet="modelItem; context: { $implicit: item }"
        ></ng-container>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #modelItem let-item>
    <ion-item
      slot="header"
      class="text-light w-100 border-0 file-item {{
        selectedFile == item.id ? 'selected' : ''
      }} py-2"
      role="button"
      (click)="selectedFile = item.id; selectedFileChanged.emit(item.id)"
    >
      <ng-container *ngIf="editingTask?.id != item.id">
        <!-- <ion-icon
          *ngIf="item.id == 'main'"
          class="text-orange me-3"
          [name]="'cube'"
          slot="start"
        ></ion-icon> -->
        <!-- --border-radius: 50%; -->

        <ion-thumbnail slot="start" [style.--border-radius]="'50%'">
          <img [src]="item.metadata.img ?? ''" />
        </ion-thumbnail>
        <ion-label
          style="font-size: small"
          (contextmenu)="
            item.id != 'main' ? onRightClick($event, item) : undefined
          "
          >{{ item.name }}</ion-label
        >
        <ion-icon
          class="text-secondary my-auto"
          style="font-size: 15px; cursor: pointer"
          [name]="'ellipsis-vertical'"
          slot="end"
          role="button"
          (click)="onRightClick($event, item)"
        ></ion-icon>
      </ng-container>
      <ng-container *ngIf="editingTask?.id == item.id">
        <ion-input #selectedName type="text" [value]="editingTask?.name">
        </ion-input>
        <ion-icon
          class="text-orange"
          name="checkmark-circle"
          slot="end"
          (click)="saveFieldName(editingTask!, selectedName.value)"
        ></ion-icon>
      </ng-container>
    </ion-item>
  </ng-template>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu" class="bg-theme border-table">
  <ng-template matMenuContent let-item="item">
    <ng-container *ngIf="item.id != 'app'; else appSettings">
      <button
        mat-menu-item
        class="text-light"
        (click)="openControllerSettings(item.id)"
      >
        Configure
      </button>

      <button mat-menu-item class="text-light" (click)="editingTask = item">
        Rename
      </button>
      <button mat-menu-item class="text-light">Delete</button>
    </ng-container>
    <ng-template #appSettings>
      <button
        mat-menu-item
        class="text-light"
        (click)="openControllerSettings('main')"
      >
        Project Settings
      </button>
    </ng-template>
  </ng-template>
</mat-menu>

<ng-template #template2>
  <ng-container *ngIf="loadedUser && loadedUser.utils">
    <div
      class="bg-theme border-table text-start rounded d-flex justify-content-center align-items-center flex-column"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px;"
      (clickOutside)="folderToggle.click()"
    >
      <div class="big-design-header p-3 pb-3">
        <b class="fw-bold text-light">Projects</b>
        <p
          class="rounded-circle fw-bold text-orange d-flex justify-content-center align-content-center"
          style="aspect-ratio: 1"
          role="button"
          (click)="openProj.emit()"
        >
          <mat-icon style="aspect-ratio: 1"> add </mat-icon>
        </p>
      </div>

      <div class="w-100 py-2 h-100" style="overflow-y: scroll" *ngIf="loadedUser.utils.length > 0">
        <div
          *ngFor="let n of loadedUser.utils ?? []"
          class="d-flex justify-content-between align-items-center p-3 proj{{
            executable && executable.id == n.id ? '-select' : ''
          }}"
          (click)="openProj.emit(n.id)"
          role="button"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div
              class="bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
              style="
                object-fit: contain;
                aspect-ratio: 1;
                overflow: hidden;
                width: 45px;
              "
            >
              <img
                class="m-auto rounded-icon"
                style="object-fit: cover; height: 90%; width: 90%"
                [src]="n.displayUrl"
              />
            </div>
            <div class="text-start w-100 ms-2">
              <div class="w-100 ps-2 text-light text-start fw-normal">
                {{ n.name }}
              </div>
              <div
                class="w-100 ps-2 text-light text-start fw-normal"
                style="font-size: 10px"
              >
                {{ n.created | date }}
              </div>
            </div>
          </div>
          <mat-icon class="text-secondary"> chevron_right </mat-icon>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
