<div
  class="bg-theme-2 h-100 border-table-right"
  style="
    width: 250px !important;
    min-width: 250px !important;
    overflow-y: scroll;
  "
>
  <!-- [value]="openLayouts"
      (ionChange)="setOpenLayouts($event)" -->

  <div class="w-100 p-3 d-flex justify-content-between align-content-center">
    <button
      class="btn bg-orange border-0 rounded-10 fw-bold text-white d-flex w-100 justify-content-center px-3 align-content-center py-2 my-auto"
      (click)="saveLayout()"
    >
      <!-- (click)="edited ? save() : publish(workflow)"
        [disabled]="loading" -->
      <ng-container *ngIf="loading; else buttonTitles">
        <span class="mx-auto">
          {{ "Saving" }}
          <span
            class="spinner-border spinner-border-sm ms-2 m-auto"
            role="status"
            aria-hidden="true"
          ></span>
        </span>
      </ng-container>

      <ng-template #buttonTitles>
        <ng-container> {{ "Deploy" }}</ng-container>
        <mat-icon class="fw-bold ms-2" style="aspect-ratio: 1">
          cloud_upload
        </mat-icon>
      </ng-template>
    </button>
    <button
      class="btn bg-secondary border-0 rounded-10 fw-bold text-white d-flex justify-content-center py-2 px-2 align-content-center ms-2 my-auto"
      (click)="saveLayout()"
    >
      <mat-icon class="fw-bold" style="aspect-ratio: 1">
        system_update_alt
      </mat-icon>
    </button>
  </div>

  <ng-container *ngIf="executable">
    <ng-container
      *ngTemplateOutlet="recursiveList; context: { $implicit: items }"
    ></ng-container>
  </ng-container>

  <ng-template #recursiveList let-list>
    <div class="w-100" *ngFor="let item of list">
      <ng-container *ngIf="item.type == 'category'; else modelTab">
        <ion-accordion-group
          class="example-headers-align bg-transparent"
          [multiple]="true"
          [value]="['code']"
        >
          <ion-accordion class="bg-transparent" [value]="'code'">
            <ion-item slot="header" class="text-light no-padding">
              <ion-icon
                class="text-secondary"
                style="font-size: 14px"
                [name]="item | taskIcon"
                slot="start"
              ></ion-icon>
              <ion-label class="fw-bold" style="font-size: 14px">{{
                item.name
              }}</ion-label>
            </ion-item>

            <div class="ion-padding text-light" slot="content">
              <ng-container *ngIf="item.categoryTask as catTask">
                <ng-container
                  *ngTemplateOutlet="modelItem; context: { $implicit: catTask }"
                ></ng-container>
              </ng-container>

              <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: item.sequence }
                "
              ></ng-container>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
      <ng-template #modelTab>
        <ng-container
          *ngTemplateOutlet="modelItem; context: { $implicit: item }"
        ></ng-container>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #modelItem let-item>
    <ion-item
      slot="header"
      class="text-light w-100 border-0 file-item {{
        selectedFile == item.id ? 'selected' : ''
      }} py-2"
      role="button"
      (click)="selectedFile = item.id; selectedFileChanged.emit(item.id)"
    >
      <ng-container *ngIf="editingTask?.id != item.id">
        <ion-icon
          class="text-orange"
          style="font-size: small"
          [name]="item | taskIcon"
          slot="start"
        ></ion-icon>

        <ion-label
          style="font-size: small"
          (contextmenu)="item.id != 'main' ? onRightClick($event, item) : null"
          >{{ item.name }}</ion-label
        >
      </ng-container>
      <ng-container *ngIf="editingTask?.id == item.id">
        <ion-input #selectedName type="text" [value]="editingTask?.name">
        </ion-input>
        <ion-icon
          class="text-orange"
          name="checkmark-circle"
          slot="end"
          (click)="saveFieldName(editingTask!, selectedName.value)"
        ></ion-icon>
      </ng-container>
    </ion-item>
  </ng-template>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu" class="bg-theme border-table">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item class="text-light" (click)="editingTask = item">
      Rename
    </button>
    <button mat-menu-item class="text-light">Delete</button>
  </ng-template>
</mat-menu>
