<div
  class="layout-container-full bg-dark my-0 d-flex justify-content-between align-content-center flex-column"
>
  <div
    class="w-100 h-100 d-flex justify-content-between align-content-start"
    style="overflow-y: hidden"
    *ngIf="workflow.value && openStep.value && items.value; else noWorkflow"
  >
    <app-icon-sidebar
      [selectedIcon]="selectedIcon"
      (selectedIconChanged)="selectFile(openStep.value.id, $event)"
    ></app-icon-sidebar>
    <app-file-sidebar
      [hidden]="mode != 'sidebar'"
      [models]="models"
      [triggers]="triggers"
      [apiKeys]="apiKeys"
      [apiRequests]="apiRequests"
      [workflow]="workflow.value"
      [executable]="workflow.value"
      [items]="items.value"
      (detailsChanged)="publish()"
      (openProj)="setWorkflow($event)"
      (selectedFileChanged)="selectFile($event, selectedIcon)"
    >
    </app-file-sidebar>
    <app-storage [hidden]="mode != 'storage'"> </app-storage>

    <as-split class="w-100 h-100" class="vertical" direction="vertical">
      <as-split-area class="horizontal" [size]="70">
        <as-split class="w-100 h-100" direction="horizontal">
          <as-split-area [size]="60">
            <ng-container *ngIf="selectedIcon == 'controllers'">

              <verticalai-workflow-designer
                #designer
                [models]="models"
                [workflow]="workflow.value"
                [theme]="theme"
                (detailsChanged)="
                  edited = true; workflow.next($event); save(1, true)
                "
                (iconChanged)="edited = true; workflowIcon = $event; save(0)"
                (selectedFileChanged)="selectFile($event, selectedIcon)"
              >
              </verticalai-workflow-designer>
            </ng-container>

            <div
              class="w-100 h-100"
              [hidden]="selectedIcon != 'run'"
              style="background-color: #131313"
            >
              <app-terminal [model]="workflow.value"></app-terminal>
            </div>

            <ng-container *ngIf="selectedIcon == 'upload'">
              <app-coming-soon [title]="'Upload Project'"> </app-coming-soon>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'code'">
              <app-workflow-code
                *ngIf="
                  (openStep.value.id == 'main' && workflow.value
                    ? workflow.value.layout.properties['mainSource']
                    : openStep.value.properties['source']) ??
                  defaultCode(openStep.value.type) as source
                "
                [code]="source"
                (codeChanged)="
                  edited = true;
                  openStep.value.id == 'main' && workflow.value
                    ? (workflow.value.layout.properties['mainSource'] = $event)
                    : (openStep.value.properties['source'] = $event);
                  save()
                "
              ></app-workflow-code>
            </ng-container>

            <div
              class="w-100 h-100 bg-theme"
              [hidden]="selectedIcon != 'database'"
            >
              <app-database></app-database>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>

  <ng-template #noWorkflow>
    <div
      class="layout-container h-100 d-flex flex-column justify-content-center align-items-center"
    >
      <verticalai-loader
        [mode]="'light'"
        [text]="'Loading...'"
      ></verticalai-loader>
    </div>
  </ng-template>
</div>
