<div
  class="layout-container-full bg-dark my-0 d-flex justify-content-between align-content-center flex-column"
  (keydown)="onKeyDown($event)"
>
  <div
    class="w-100 h-100 d-flex justify-content-between align-content-start"
    style="overflow-y: hidden"
    *ngIf="workflow.value && openStep && items.value; else noWorkflow"
  >
    <app-icon-sidebar
      (openProj)="setWorkflow($event)"
      [selectedIcon]="selectedIcon"
      (selectedIconChanged)="selectedIcon = $event"
    ></app-icon-sidebar>
    <app-file-sidebar
      [hidden]="mode != 'sidebar'"
      [models]="models"
      [triggers]="triggers"
      [trainingData]="trainingData"
      [apiKeys]="apiKeys"
      [apiRequests]="apiRequests"
      [workflow]="workflow.value"
      [executable]="workflow.value"
      [items]="items.value"
      (detailsChanged)="publish()"
      [selectedFile]="openStep.id"
      (selectedFileChanged)="selectFile($event)"
    >
    </app-file-sidebar>
    <app-storage [hidden]="mode != 'storage'"> </app-storage>

    <as-split class="w-100 h-100" class="vertical" direction="vertical">
      <as-split-area class="horizontal" [size]="70">
        <as-split class="w-100 h-100" direction="horizontal">
          <!-- <as-split-area [size]="40">
            <div
              class="w-100 h-100 d-flex justify-content-between align-items-start"
            >
                <app-workflow-code
                  [code]="
                    openStep.properties['source']
                      ? openStep.properties['source']!
                      : defaultCode(openStep.type)
                  "
                  (codeChanged)="
                    edited = true;
                    (openStep.properties['source'] = $event);
                    save()
                  "
                ></app-workflow-code>
            </div>
          </as-split-area> -->
          <as-split-area [size]="60">
            <ng-container *ngIf="selectedIcon == 'schema'">
              <verticalai-workflow-designer
                [models]="models"
                [triggers]="triggers"
                [trainingData]="trainingData"
                [apiKeys]="apiKeys"
                [apiRequests]="apiRequests"
                [workflow]="workflow.value"
                [theme]="theme"
                (detailsChanged)="
                  edited = true; workflow.next($event); save(1, true)
                "
                (iconChanged)="edited = true; workflowIcon = $event; save(0)"
                (apiKeyChanged)="edited = true; newAPIKey = $event; save(3)"
              >
              </verticalai-workflow-designer>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'test'">
              <div class="w-100 h-100 bg-black">
                <app-terminal [model]="workflow.value"></app-terminal>
              </div>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'upload'"> 
              <app-coming-soon [title]="'Upload Project'">

              </app-coming-soon>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'script'">
              <app-workflow-code
                *ngIf="
                  (openStep.id == 'main' && activeWorkflow
                    ? activeWorkflow.layout.properties['mainSource']
                    : openStep.properties['source']) ??
                  defaultCode(openStep.type) as source
                "
                [code]="source"
                (codeChanged)="
                  edited = true;
                  openStep.id == 'main' && activeWorkflow
                    ? (activeWorkflow.layout.properties['mainSource'] = $event)
                    : (openStep.properties['source'] = $event);
                  save()
                "
              ></app-workflow-code>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'memory'"> 
              <app-coming-soon [title]="'Controller Memory'">

              </app-coming-soon>
            </ng-container>

            <ng-container *ngIf="selectedIcon == 'settings'"> 
              <app-coming-soon [title]="'Controller Settings'">

              </app-coming-soon>
            </ng-container>
          </as-split-area>
        </as-split>
      </as-split-area>

      <!-- <as-split-area [size]="30">
        <div
          class="h-100 d-flex justify-content-between align-items-end flex-column w-100"
        >
          <div class="terminal-width h-100 bg-black">
            <app-terminal [model]="workflow.value"></app-terminal>
          </div>
        </div>
      </as-split-area> -->
    </as-split>
  </div>

  <ng-template #noWorkflow>
    <div
      class="layout-container h-100 d-flex flex-column justify-content-center align-items-center"
    >
      <verticalai-loader
        [mode]="'light'"
        [text]="'Loading...'"
      ></verticalai-loader>
    </div>
  </ng-template>
</div>
