.sqd-designer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.sqd-designer,
.sqd-drag {
  font-size: 14px;

  line-height: 1em;
}
.sqd-hidden {
  display: none !important;
}
.sqd-disabled {
  opacity: 0.25;
}

/* .sqd-toolbox */

.sqd-toolbox,
.sqd-toolbox-filter {
  font-size: 13px;
  line-height: 1.2em;
  display: none;
}
.sqd-toolbox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  user-select: none;
}
.sqd-toolbox-header {
  position: relative;
  padding: 15px 10px;
  cursor: pointer;
}
.sqd-toolbox-header-title {
  display: block;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
}
.sqd-toolbox-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
  fill: #fff;
}
.sqd-toolbox-header:hover .sqd-toolbox-toggle-icon {
  opacity: 0.6;
}
.sqd-scrollbox {
  width: 100%;
  position: relative;
  overflow: scroll;
  height: calc(calc(var(--vh, 1vh) * 100) - 100px) !important;
}
.sqd-scrollbox-body {
  width: 100%;  
}

.sqd-toolbox-filter {
  display: block;
  box-sizing: border-box;
  padding: 6px 8px;
  outline: none;
  width: 180px;
  margin: 0 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.sqd-toolbox-group-title {
  display: none;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.sqd-toolbox-item {
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  // aspect-ratio: 1;
  cursor: grab;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 13px;
  // height: 40px;
  width: 100%; //
}


.sqd-toolbox-item-icon {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
}
.sqd-toolbox-item-icon.sqd-no-icon {
  border-radius: 4px;
}

rect {
  
  rx: 5;
  ry: 5;
}

image {
  clip-path: circle();
}

rect.sqd-input {
  clip-path: circle();
}

// .sqd-root-start-stop-icon {
//   width: 20px !important;
//   margin: 0 auto;
// }

.sqd-toolbox-item-icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  overflow: hidden;
}
.sqd-toolbox-item-text {
  position: relative;
  display: block; //
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: start;
}

.sqd-drag {
  position: absolute;
  z-index: 9999999;
  pointer-events: none;
}

/* .sqd-control-bar */

.sqd-control-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  padding: 8px 0 8px 8px;
  border-radius: 10px;
  white-space: nowrap;
}
.sqd-control-bar-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 14px;
  cursor: pointer;
}
.sqd-control-bar-button-icon {
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  fill: #fff;
}
.sqd-control-bar-button.sqd-disabled .sqd-control-bar-button-icon {
  opacity: 0.2;
}

/* .sqd-workspace */

.sqd-workspace {
  flex: 1;
  position: relative;
  display: block;
  user-select: none;
}
.sqd-workspace-canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}
.sqd-grid-path {
  stroke-width: 1;
}
.sqd-join {
  stroke-width: 2;
}

/* .sqd-smart-editor */

.sqd-smart-editor-toggle {
  position: absolute;
  top: 0;
  z-index: 29;
  width: 36px;
  height: 64px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.sqd-smart-editor-toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}
.sqd-smart-editor-toggle:hover .sqd-smart-editor-toggle-icon {
  opacity: 0.6;
}
.sqd-smart-editor {
  z-index: 30;
}
.sqd-layout-desktop .sqd-smart-editor {
  position: relative;
  width: 300px;
}
.sqd-layout-desktop .sqd-smart-editor-toggle {
  right:300px;
}
.sqd-layout-desktop .sqd-smart-editor-toggle.sqd-collapsed {
  right: 0;
}
.sqd-layout-mobile .sqd-smart-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 41px;
}
.sqd-layout-mobile .sqd-smart-editor-toggle {
  left: 5px;
}
.sqd-layout-mobile .sqd-smart-editor-toggle.sqd-collapsed {
  left: auto;
  right: 0;
}

/* .sqd-step-task */

.sqd-step-task-rect {
  stroke-width: 1;
  // width: 42px !important;
}
.sqd-step-task-rect.sqd-selected {
  stroke-width: 2;
}
.sqd-step-task-text {
  text-anchor: left;
  // display: none;
  dominant-baseline: central;
}

/* .sqd-input + .sqd-output */

.sqd-input {
  stroke-width: 2;
}

/* .sqd-region */

.sqd-region {
  stroke-width: 2;
  stroke-dasharray: 3;
}
.sqd-region.sqd-selected {
  stroke-width: 2;
  stroke-dasharray: 0;
}
.sqd-label-text {
  text-anchor: middle;
  dominant-baseline: central;
}

/* .sqd-placeholder */

.sqd-placeholder .sqd-placeholder-rect {
  stroke-width: 1;
  stroke-dasharray: 3;
}
