:host ::ng-deep .mat-content.mat-content-hide-toggle {
  padding: 0 !important;
  margin: 0 !important;
  aspect-ratio: 1;
}

// :host ::ng-deep .mat-accordion {
//   padding: 0 !important;
// }


:host ::ng-deep .mat-expansion-panel-body {
  width: 100% !important;
  padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  aspect-ratio: 1 !important;
  height: auto !important;
}

// :host ::ng-deep .ion-padding {
//   padding-right: 0px;
//   padding-left: 7.5px;
//   border-top-left-radius: 10px;
//   border-bottom-left-radius: 10px;
//   overflow: hidden;
// }


.proj:hover{
  background-color: var(--dark--primarySectionHoverColor);
}

.proj-select{
  background-color: var(--dark--primaryColor);
}



// .logo{
//   -webkit-filter: drop-shadow(0px 0px 1px #000000);
//   filter: drop-shadow(0px 0px 1px #000000);
// }