<div
  class="primary-background-dark w-100 d-flex justify-content-between align-items-center"
  [class.border-table-bottom]="theme == 'dark'"
  style="height: 50px !important"
>
  <div class="w-100 h-100 d-flex justify-content-start align-items-center">
    <div
      class="h-100 proj{{
        selectedIcon == 'prototype' ? '-select' : ''
      }} mt-0 d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      role="button"
      (click)="selectedIconChanged.emit('prototype')"
      [matTooltip]="'Prototype'"
      [matTooltipPosition]="'right'"
    >
      <div
        class="mx-2 primary-text-dark fw-bold d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
      >
        <div class="w-100 h-100">
            <ion-icon
              class="orimary-text p-0 m-0"
              style="font-size: 22px;"
              [name]="'square-outline'"
              role="button"
            ></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 h-100 d-flex justify-content-end align-items-center">
    <div class="h-100" style="aspect-ratio: 1">
      <div
        class="w-100 proj mt-0 d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
        [matTooltip]="'View Profile'"
        [matTooltipPosition]="'right'"
        role="button"
        *ngIf="loadedUser"
      >
        <div
          class="rounded-circle mx-3 icons secondary-background-dark shadow"
          style="
            border-style: solid;
            border-width: 0.1rem;
            border-color: rgb(117, 117, 117);
            height: fit-content;
          "
          [mdbPopover]="template"
          placement="right"
          [trigger]="'click'"
          id="profile-toggle"
          #profileToggle
        >
          <img
            *ngIf="loadedUser.url"
            class="w-100 p-0 m-auto rounded-circle"
            style="object-fit: cover; aspect-ratio: 1"
            [src]="loadedUser.url"
          />

          <ng-template #template>
            <div
              class="popover-body-padding primary-background-dark border-table rounded text-center px-3"
              id="profile-menu"
              style="min-width: 250px; overflow: hidden"
              (clickOutside)="profileToggle.click()"
            >
              <div
                class="rounded-circle icons bg-pink mx-auto mb-4"
                style="
                  border-style: solid;
                  border-width: 0.2rem;
                  border-color: rgb(255, 232, 248);
                  width: fit-content;
                  height: 80px;
                "
              >
                <img
                  *ngIf="loadedUser.url != null && loadedUser.url != undefined"
                  class="h-100 p-0 m-auto rounded-circle"
                  style="object-fit: contain; aspect-ratio: 1"
                  [src]="loadedUser.url"
                />
              </div>
              <span
                class="fw-bolder primary-text-dark px-2 d-none d-md-block"
                style="font-size: medium"
              >
                {{ loadedUser.name ? loadedUser.name : "" }}
              </span>
              <b
                class="fw-bold mb-4 primary-text-dark text-center"
                style="font-size: small"
                >{{
                  loadedUser.email != null ? loadedUser.email : "Not Signed In"
                }}</b
              >
              <br />
              <div class="w-100 text-start mt-3">
                <a
                  role="button"
                  class="w-100 btn bg-orange text-white px-1 py-2 fw-bold rounded"
                  style="font-size: small"
                  (click)="workflowComponent.openProfileSettings(loadedUser)"
                  *ngIf="loadedUser.email != null"
                >
                  Edit Profile
                </a>
                <!-- <a
            role="button"
            class="w-100 btn primary-text-dark  secondary-background-dark px-1 py-2 mt-2 fw-bold rounded"
            style="font-size: small"
            (click)="editBilling()"
          >
            View Billing
          </a> -->
                <a
                  role="button"
                  class="w-100 btn primary-background-dark primary-text-dark px-1 py-2 mt-2 fw-bold rounded"
                  style="font-size: small"
                  (click)="root.signOut()"
                  *ngIf="loadedUser.email"
                >
                  Sign Out
                </a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- <div
    class="w-100 proj mt-0 d-flex justify-content-center align-items-center"
    style="aspect-ratio: 1"
    [mdbPopover]="projects"
    placement="right"
    [trigger]="'hover'"
    role="button"
  >
    <div
      class="mx-2 primary-text-dark  fw-bold d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      [mdbPopover]="template2"
      placement="right"
      [trigger]="'click'"
      #folderToggle
    >
      <div class="w-100 h-100">
        <mat-icon class="fw-bold">folder</mat-icon>
        <ng-template #projects>
          <verticalai-tooltip [text]="'Browse Projects'"></verticalai-tooltip>
        </ng-template>
      </div>

      <ng-template #template2>
        <ng-container *ngIf="loadedUser && loadedUser.utils">
          <div
            class="primary-background-dark border-table text-start pt-3 rounded"
            id="profile-menu"
            style="min-width: 350px; max-height: 300px; overflow-y: scroll"
            (clickOutside)="folderToggle.click()"
          >
            <div class="big-design-header px-3">
              <b class="fw-bold primary-text-dark  ">Projects</b>
              <p
                class="rounded-circle fw-bold text-orange d-flex justify-content-center align-content-center"
                style="aspect-ratio: 1"
                role="button"
                (click)="openProj.emit()"
              >
                <mat-icon style="aspect-ratio: 1"> add </mat-icon>
              </p>
            </div>

            <div class="w-100 py-2" *ngIf="loadedUser.utils.length > 0">
              <div
                *ngFor="let n of loadedUser.utils ?? []"
                class="d-flex justify-content-between align-items-center p-3 proj{{
                  selectedWorkflow && selectedWorkflow == n.id ? '-select' : ''
                }}"
                (click)="openProj.emit(n.id)"
                role="button"
              >
                <div class="d-flex justify-content-between align-items-center">
                  <div
                    class="bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                    style="
                      object-fit: contain;
                      aspect-ratio: 1;
                      overflow: hidden;
                      width: 45px;
                    "
                  >
                    <img
                      class="m-auto rounded-icon"
                      style="object-fit: cover; height: 90%; width: 90%"
                      [src]="n.displayUrl"
                    />
                  </div>
                  <div class="text-start w-100 ms-2">
                    <div class="w-100 ps-2 primary-text-dark  text-start fw-normal">
                      {{ n.name }}
                    </div>
                    <div
                      class="w-100 ps-2 primary-text-dark  text-start fw-normal"
                      style="font-size: 10px"
                    >
                      {{ n.created | date }}
                    </div>
                  </div>
                </div>
                <mat-icon class="secondary-text-dark"> chevron_right </mat-icon>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div> -->

    <!-- <div
    class="w-100 proj{{
      selectedIcon == 'upload' ? '-select' : ''
    }} mt-0 d-flex justify-content-center align-items-center"
    style="aspect-ratio: 1"
    role="button"
    (click)="selectedIconChanged.emit('upload')"
    [mdbPopover]="upload"
    placement="right"
    [trigger]="'hover'"
  >
    <div
      class="mx-2 primary-text-dark  fw-bold d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
    >
      <div class="w-100 h-100">
        <mat-icon class="fw-bold">file_upload</mat-icon>
        <ng-template #upload>
          <verticalai-tooltip [text]="'Upload Project'"></verticalai-tooltip>
        </ng-template>
      </div>
    </div>
  </div> -->

    <div
      class="h-100 proj{{
        selectedIcon == 'prototype' ? '-select' : ''
      }} mt-0 d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      role="button"
      (click)="selectedIconChanged.emit('prototype')"
      [matTooltip]="'Prototype'"
      [matTooltipPosition]="'right'"
    >
      <div
        class="mx-2 primary-text-dark fw-bold d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
      >
        <div class="w-100 h-100">
          <mat-icon class="fw-bold">play_arrow</mat-icon>
        </div>
      </div>
    </div>

    <div
      class="h-100 proj{{
        selectedIcon == 'design' ? '-select' : ''
      }} mt-0 d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      role="button"
      (click)="selectedIconChanged.emit('design')"
      [matTooltip]="'Design'"
      [matTooltipPosition]="'right'"
    >
      <div
        class="mx-2 primary-text-dark fw-bold d-flex justify-content-center align-items-center mt-0"
        style="aspect-ratio: 1"
        role="button"
      >
        <mat-icon class="fw-bold">schema</mat-icon>
      </div>
    </div>

    <div
      class="h-100 proj{{
        selectedIcon == 'database' ? '-select' : ''
      }} mt-0 d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      role="button"
      (click)="selectedIconChanged.emit('database')"
      [matTooltip]="'Database'"
      [matTooltipPosition]="'right'"
    >
      <div
        class="mx-2 primary-text-dark fw-bold d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
        role="button"
      >
        <mat-icon class="fw-bold">storage</mat-icon>
      </div>
    </div>

    <!-- <div
      class="w-100 proj{{
        selectedIcon == 'code' ? '-select' : ''
      }} mt-0 d-flex justify-content-center align-items-center"
      style="aspect-ratio: 1"
      role="button"
      (click)="selectedIconChanged.emit('code')"
      [matTooltip]="'Scripts'"
      [matTooltipPosition]="'right'"
    >
      <div
        class="mx-2 primary-text-dark  fw-bold d-flex justify-content-center align-items-center mt-0"
        style="aspect-ratio: 1"
        role="button"
      >
        <mat-icon class="fw-bold">code</mat-icon>
      </div>
    </div> -->
  </div>
  <!-- 
  <div class="rounded-circle icons w-100 p-1" style="aspect-ratio: 1">
    <img
      class="px-2 h-100 logo"
      style="object-fit: contain"
      [src]="'assets/verticalai_short_' + theme + '.png'"
    />
  </div> -->
</div>
