:host ::ng-deep .mat-content.mat-content-hide-toggle {
  padding: 0 !important;
  margin: 0 !important;
  aspect-ratio: 1;
}

// :host ::ng-deep .mat-accordion {
//   padding: 0 !important;
// }


:host ::ng-deep .mat-expansion-panel-body {
  width: 100% !important;
  padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  aspect-ratio: 1 !important;
  height: auto !important;
}

.proj:hover{
  background-color: #1E293B;
}

.proj-select{
  background-color: #1E293B;
}
