:host ::ng-deep .mat-content.mat-content-hide-toggle {
  padding: 0 !important;
  margin: 0 !important;
  aspect-ratio: 1;
}

// :host ::ng-deep .mat-accordion {
//   padding: 0 !important;
// }


:host ::ng-deep .mat-expansion-panel-body {
  width: 100% !important;
  padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  aspect-ratio: 1 !important;
  height: auto !important;
}


.proj:hover{
  background-color: var(--primarySectionHoverColor);
}

.proj-select{
  background-color: var(--primarySectionHoverColor);
}


.logo{
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}