ion-range {

    --bar-height: 5px;
    --bar-border-radius: 5px;
    --knob-size: 30px;

    // --pin-background: #ffafcc;
    // --pin-color: #fff;

    // --knob-background: #ffc8dd;
    // --bar-background: #a2d2ff;
    // --bar-background-active: #bde0fe;
    
  }