<ng-container *ngIf="'light' as mode">
  <div
    class="w-100 border-table-bottom bg-theme-2"
    style="height: 70px; position: fixed; z-index: 50; top: 0"
    id="top-bar"
  >
    <div
      class="w-100 h-100 justify-content-between align-items-center d-flex"
      *ngIf="display"
    >
      <div
        class="d-flex justify-content-center justify-content-md-start align-items-center h-100 w-100 w-md-auto"
      >
        <div class="my-1 mx-0 mx-md-4 h-100 py-1">
          <img
            class="h-100 w-auto p-2 p-md-3"
            [src]="'assets/vertical_ai_logo_' + mode + '.svg'"
            style="object-fit: contain"
            role="button"
            (click)="routeToHome()"
          />
        </div>
        <div
          class="h-100 d-none d-md-flex justify-content-start align-items-center"
        >
          <span
            class="text-{{ mode }} mx-4"
            role="button"
            (click)="routeToAuth()"
            >Account</span
          >

          <span
            class="text-{{ mode }} mx-4"
            style="text-decoration: none"
            role="button"
            (click)="window.open('https://docs.verticalai.io', '_blank')"
            >Documentation</span
          >
        </div>
      </div>
      <div
        class="d-flex justify-content-end align-items-center h-100 me-3 mx-md-4"
      >
        <div
          class="w-100 h-100 d-none d-md-flex justify-content-end align-items-center"
        >
          <div
            class="d-flex justify-content-end align-items-center"
            style="height: 40px"
          >
            <div
              class="d-flex justify-content-between align-items-center h-100"
              role="button"
              [mdbPopover]="template"
              placement="bottom"
              [trigger]="'click'"
              id="profile-toggle"
              #profileToggle
              *ngIf="isBrowser() && (location.path() | isRoute : ['dashboard'])"
            >
              <span class="fw-bold mx-2 text-{{ mode }} px-2 d-none d-md-block">
                {{
                  localStorage && localStorage["name"]
                    ? localStorage["name"]
                    : ""
                }}
              </span>
              <div
                class="rounded-circle h-100 icons bg-pink"
                style="
                  border-style: solid;
                  border-width: 0.2rem;
                  border-color: rgb(255, 232, 248);
                  width: fit-content;
                "
              >
                <img
                  *ngIf="
                    localStorage!['url'] != null &&
                    localStorage!['url'] != undefined
                  "
                  class="h-100 p-0 m-auto rounded-circle"
                  style="object-fit: contain; aspect-ratio: 1"
                  [src]="localStorage!['url']"
                />

                <ng-template #template>
                  <div
                    class="popover-body-padding bg-theme border-table text-center px-3"
                    id="profile-menu"
                    style="min-width: 250px;"
                  >
                    <div class="big-design-header" style="height: 40px">
                      <mat-icon
                        class="fw-bold text-light"
                        role="button"
                        (click)="profileToggle.click()"
                      >
                        close
                      </mat-icon>
                    </div>
                    <div
                      class="rounded-circle icons bg-pink mx-auto mb-4"
                      style="
                        border-style: solid;
                        border-width: 0.2rem;
                        border-color: rgb(255, 232, 248);
                        width: fit-content;
                        height: 80px;
                      "
                    >
                      <img
                        *ngIf="
                          localStorage!['url'] != null &&
                          localStorage!['url'] != undefined
                        "
                        class="h-100 p-0 m-auto rounded-circle"
                        style="object-fit: contain; aspect-ratio: 1"
                        [src]="localStorage!['url']"
                      />
                    </div>
                    <span
                      class="fw-bolder text-{{
                        mode
                      }} px-2 d-none d-md-block"
                      style="font-size: medium"
                    >
                      {{
                        localStorage && localStorage["name"]
                          ? localStorage["name"]
                          : ""
                      }}
                    </span>
                    <b
                      class="fw-bold mb-4 text-light text-center"
                      style="font-size: small"
                      >{{
                        localStorage!["email"] != null
                          ? localStorage!["email"]
                          : "Not Signed In"
                      }}</b
                    >
                    <br />
                    <div class="w-100 text-start mt-3">
                      <a
                        role="button"
                        class="w-100 btn text-light bg-secondary px-1 py-2 fw-bold rounded"
                        style="font-size: small"
                        (click)="editProfile()"
                        *ngIf="localStorage!['email'] != null"
                      >
                        Edit Profile
                      </a>
                      <!-- <a
                        role="button"
                        class="w-100 btn text-light bg-secondary px-1 py-2 mt-2 fw-bold rounded"
                        style="font-size: small"
                        (click)="editBilling()"
                      >
                        View Billing
                      </a> -->
                      <a
                        role="button"
                        class="w-100 btn bg-black text-white px-1 py-2 mt-2 fw-bold rounded"
                        style="font-size: small"
                        (click)="signOut()"
                        *ngIf="localStorage!['email'] != null"
                      >
                        Sign Out
                      </a>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-100 bar-{{ mode }} layout-container-grow"
    style="margin-top: 70px"
  >
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</ng-container>
