<div
  class="w-100 h-100 d-flex justify-content-between flex-column align-content-center secondary-background "
  style="overflow: hidden"
>
  <div
    class="px-2 w-100 d-flex justify-content-between align-items-center secondary-background  border-bottom"
    style="height: 70px"
  >
    <div class="d-flex justify-content-center align-items-center my-auto">
      <p
        class="btn bg-transparent rounded-pill fw-bold primary-text  border-0 d-flex justify-content-between align-content-center px-2 py-2 my-auto"
        (click)="close()"
      >
        <mat-icon class="me-0" style="aspect-ratio: 1"> close </mat-icon>
      </p>
    </div>
  </div>

  <div
    class="w-100 h-100 d-flex flex-column justify-content-start align-items-center p-2"
    style="overflow-y: scroll"
  >
    <ng-container *ngIf="needsBilling; else hasBilling">
      <app-billing
        (cardAdded)="
          needsBilling = false;
          planToSet ? selectPlan(planToSet.plan, planToSet.index) : null
        "
      ></app-billing>
    </ng-container>
    <ng-template #hasBilling>
      <div
        class="d-flex justify-content-center align-items-center flex-column px-2"
        style="width: 100%; max-width: 800px"
        *ngIf="activePlan != undefined && plans != {}"
      >
        <p class="w-100 my-3 primary-text  fw-bold">Choose a Plan</p>

        <mat-accordion class="example-headers-align w-100" multi>
          <mat-expansion-panel
            [hideToggle]="true"
            [expanded]="
              plans[activePlan] == undefined
                ? true
                : activePlan == plan.value.id
            "
            (expandedChange)="expanded[plan.id] = $event"
            *ngFor="let plan of plans | dictToArr; index as i"
            class="px-0 bg-theme"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-bold w-100 text-start text-truncate">
                <app-status [plan]="plan.value"> </app-status>

                <mat-icon class="secondary-text">expand_more</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="primary-text  ">Price: {{ plan.value.flatPriceCents / 100 | currency }}</div>
            <div class="primary-text  ">Invocations: {{ plan.value.requests }}</div>
            <br />
            <div
              class="d-block d-md-flex justify-content-between align-content-center"
            >
              <div
                class="secondary-text text-start text-truncate my-auto"
                style="font-size: x-small"
              >
                {{ plan.value.overagePriceCents / 100 | currency }} for every
                {{ plan.value.overageUnit }} additional invocations/mo.
              </div>
              <button
                class="ms-md-2 mt-3 mt-md-0 d-flex justify-content-center align-items-center btn border-0 bg-orange rounded fw-bold primary-text  px-3 py-2 my-auto"
                style="font-size: small"
                (click)="
                  loadingIndex == i || activePlan == plan.value.id
                    ? null
                    : selectPlan(plan.value.id, i)
                "
              >
                {{
                  loadingIndex == i
                    ? "Updating"
                    : activePlan == plan.value.id
                    ? "Active"
                    : "Choose"
                }}
                <span
                  *ngIf="loadingIndex == i"
                  class="spinner-border spinner-border-sm ms-2 m-auto"
                  role="status"
                  aria-hidden="true"
                ></span>
                <ng-container *ngIf="activePlan == plan.value.id && loadingIndex != i">
                  <div
                    class="ms-2 my-auto d-flex justify-content-center align-items-center"
                    style="aspect-ratio: 1"
                  >
                    <mat-icon class="primary-text  m-auto" inline
                      >check_circle</mat-icon
                    >
                  </div>
                </ng-container>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </div>
</div>
