<div
  class="big-design-body position-relative rounded border-table"
  style="height: 475px; "
>
  <div class="h-100" style="overflow-x: scroll;">
    <table
      #table
      *ngIf="dataSource && plans != {}"
      mat-table
      [dataSource]="dataSource"
      class="shadow-none w-md-100"
      style="width: 1500px; "
    >
      <ng-container matColumnDef="requests">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body primary-text  border-table-top border-table-bottom"
        >
          Requests
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="big-design-body text-truncate border-table-top border-table-bottom"
          (click)="open(element)"
        >
          {{ element.downloads }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="models">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body primary-text  px-3 border-table-top border-table-bottom"
        >
          Models
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="big-design-body px-3 border-table-top border-table-bottom"
          (click)="open(element)"
        >
          <ng-container>
            <div
              class="d-flex justify-content-start align-items-center my-auto"
              *ngIf="element | workflowModels as models"
            >
              <div
                class="position-relative"
                style="height: 47.5px"
                [mdbPopover]="template"
                placement="bottom"
                trigger="hover"
                role="button"
              >
                <div
                  class="nft-img bg-white rounded-circle shadow d-flex justify-content-center align-items-center position-absolute"
                  style="
                    object-fit: contain;
                    aspect-ratio: 1;
                    top: 0px;
                    left: 0px;
                    overflow: hidden;
                    z-index: 50;
                  "
                  *ngIf="models[0] else emptyModel"
                >
                  <div
                    class="m-auto rounded-circle primary-background d-flex justify-content-center align-content-center"
                    style="height: 85%; width: 85%; overflow: hidden"
                  >
                    <img
                      class="w-100 h-100"
                      style="object-fit: contain; overflow: hidden"
                      [src]="models[0].model.imgUrl"
                      role="button"
                    />
                    
                  </div>
                </div>
                <div
                  class="nft-img bg-white rounded-circle shadow d-flex justify-content-center align-items-center position-absolute"
                  *ngIf="(models.length ?? 0) > 1"
                  style="
                    object-fit: contain;
                    aspect-ratio: 1;
                    top: 0px;
                    left: 25px;
                    overflow: hidden;
                    z-index: 49;
                  "
                >
                  <img
                    class="m-auto rounded-circle"
                    style="
                      object-fit: contain;
                      height: 85%;
                      width: 85%;
                      overflow: hidden;
                    "
                    [src]="models[1].model.imgUrl"
                  />
                </div>
                <div
                  class="nft-img bg-white rounded-circle shadow d-flex justify-content-center align-items-center position-absolute"
                  *ngIf="(models.length ?? 0) > 2"
                  style="
                    object-fit: contain;
                    aspect-ratio: 1;
                    top: 0px;
                    left: 50px;
                    overflow: hidden;
                    z-index: 48;
                  "
                >
                  <!-- <img
                class="m-auto rounded-circle bg-orange"
                style="object-fit: contain; height: 85%; width: 85%"
              /> -->
                  <img
                    class="m-auto rounded-circle"
                    style="
                      object-fit: contain;
                      height: 85%;
                      width: 85%;
                      overflow: hidden;
                    "
                    [src]="models[2].model.imgUrl"
                  />
                </div>

                <ng-template #emptyModel>
                  <!-- <img
                  class="w-100 h-100"
                  style="object-fit: contain; overflow: hidden"
                  [src]="'assets/empty.png'"
                  role="button"
                /> -->
                <div class="w-100 h-100 d-flex justify-content-center align-content-center">
                  <span class="my-auto">
                    None
                  </span>
                </div>
                
          
                </ng-template>
              </div>


              <ng-template #template>
                <div class="popover-body-padding bg-theme" *ngIf="models.length > 0">
                  <b class="fw-normal mb-4 primary-text  ">Models</b>
                  <br />
                  <div
                    *ngFor="let n of models ?? []"
                    class="d-flex justify-content-between align-items-center py-1"
                  >
                    <div
                      class="bg-white rounded-circle shadow d-flex justify-content-center align-items-center"
                      style="
                        object-fit: contain;
                        aspect-ratio: 1;
                        overflow: hidden;
                        width: 45px;
                      "
                    >
                      <img
                        class="m-auto rounded-circle"
                        style="object-fit: contain; height: 85%; width: 85%"
                        [src]="n.model.imgUrl"
                      />
                    </div>
                    <span class="w-100 ps-2 primary-text  fw-normal">
                      {{ n.model.name }}
                      <span class="ms-1" style="color: rgb(179, 179, 179)">
                        [{{ n.count }}]</span
                      >
                    </span>
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
          Listed Price
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="big-design-body"
          (click)="open(element)"
        >
          <p class="text-truncate nft-name my-auto">
            {{ element.etherPrice | formatEther }}
          </p>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="plan">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body primary-text  px-3 border-table-top border-table-bottom"
        >
          Plan
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          class="big-design-body px-3 border-table-top border-table-bottom"
          (click)="
            planClicked.emit({
              plan: element.plan.planId,
              index: paginator.pageIndex * paginator.pageSize + i
            })
          "
        >
          <app-status [plan]="plans[element.plan.planId]">
          </app-status>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body primary-text  text-end border-table-top border-table-bottom"
        >
      Details</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-end border-table-top border-table-bottom"
          (click)="open(element, 1)"
        >
          <a
            class="big-design-button border-0 secondary-text p-2 rounded-circle fw-normal"
            role="button"
          >
            <mat-icon> more_horiz </mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body primary-text  border-table-top border-table-bottom"
        >
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="big-design-body border-table-top border-table-bottom"
          style="width: 400px"
          (click)="open(element)"
        >
          <div class="d-flex justify-content-start align-items-center my-auto">
            <!-- <img
          class="nft-img rounded"
          [src]="(element?.displayUrls ?? [])[0] ?? '/assets/default.png'"
        /> -->

            <div
              class="nft-img bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
              style="
                object-fit: contain;
                aspect-ratio: 1;
                bottom: 10px;
                right: 10px;
                overflow: hidden;
              "
            >
              <img
                class="m-auto"
                style="object-fit: contain; height: 90%; width: 90%"
                [src]="element.displayUrl"
                role="button"
              />
            </div>

            <p class="ms-3 my-auto text-truncate nft-max">
              {{ element.name }}
            </p>
          </div>
        </td>
      </ng-container>

      <tr
      class="bg-theme"
        style="height: 50px;"
        mat-header-row
        *matHeaderRowDef="displayedColumns2; sticky: true"
      ></tr>
      <tr
        mat-row
        style="height: 70px;"
        *matRowDef="let row; columns: displayedColumns2"
      ></tr>

      <tr *matNoDataRow>
        <td
          class="mat-cell border-0"
          style="height: 250px"
          [attr.colspan]="displayedColumns2.length"
        >
          <p
            class="w-100 text-center big-design-title my-2"
            style="font-size: large"
          >
            No AI Systems.
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="w-100 position-absolute px-0 bg-theme" style="bottom: 0; margin-bottom: 0;">
    <mat-paginator
      class="mat-elevation-z0 big-design-body d-flex justify-content-center justify-content-md-end align-content-center"
      #paginator
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
      [showFirstLastButtons]="false"
      aria-label="Select page of tokens"
    >
    </mat-paginator>
  </div>
</div>
