ion-accordion.accordion-collapsing > ion-item[slot="header"],
ion-accordion.accordion-collapsed > ion-item[slot="header"] {
  --background: transparent;
  --color: white;
  border-bottom: 1px solid #6c757d;
}

ion-accordion.accordion-expanding > ion-item[slot="header"],
ion-accordion.accordion-expanded > ion-item[slot="header"] {
  --background: #3e3e3e5f;
  --color: white;

  //   --border-color: #6c757d;
  //   --inner-border-width: 1;
}

:host ::ng-deep .ion-padding {
  padding-right: 0px;
  padding-left: 7.5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

:host ::ng-deep .ion-accordion-toggle-icon {
  font-size: small;
  color: #6c757d;
}

// :host ::ng-deep .item-native{
//   --border-radius: 10px !important;
//   border-bottom-left-radius: 10px !important;
//   overflow: hidden !important;
// }

.file-item {
  --border-color: transparent;
  color: #ffffff;
  font-weight: normal;
  --background: #1e1e1e5f !important;
  cursor: pointer;
}

.file-item.selected {
  --background: #1E293B !important;
}

.file-item:not(.selected):hover {
  --background: #2e2e2e5f !important;
}

// .sqd-theme-dark .sqd-toolbox-item {

//   }
//   .sqd-theme-dark .sqd-toolbox-item:hover {
//     background: #b2b2b25f;
//   }

.layout-top {
  height: calc(calc(var(--vh, 1vh) * 100) - 320px );
  width: 100%;
}

ion-thumbnail {
  --size: 30px;
  // --border-radius: 6px;
}