<div class="w-100 h-100 d-flex justify-content-between align-items-center mx-0">
  <div class="h-100 w-100">
    <!-- selectedFile.metadata['type'] == 'switch' ? test : '//' + selectedFile.name -->

    <ngx-codemirror
      [className]="'vh-100'"
      [ngModel]="code"
      (ngModelChange)="changed($event)"
      [options]="{
        lineNumbers: true,
        theme: 'ayu-dark',
        mode: 'javascript',
        typescript: true,
        extraKeys: { 'Ctrl-Space': 'autocomplete' }
      }"
    ></ngx-codemirror>
  </div>
</div>
