<div
  class="w-100 h-100 d-flex justify-content-between align-items-center flex-column bg-theme-2 p-3 pb-4"
>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div
      class="bg-theme-2 w-100 h-100 m-auto"
      style="max-width: 600px"
      *ngIf="workflow"
    >
      <div class="w-100 h-100" *ngIf="mode == 1 && selectedFile">
        <div class="w-100">
          <div matDialogTitle class="text-white">Configure Controller</div>
        </div>
        <div class="w-100 mb-3">
          <verticalai-text-field
            [title]="'Name'"
            [value]="selectedFile.name"
            [bgColor]="'#1F1F1F'"
            [defaultValue]="selectedFile.properties['defaultName']"
            [placeholder]="'Controller Name'"
            (changed)="selectedFile.name = $event"
          >
          </verticalai-text-field>
        </div>

        <ng-container
          *ngIf="
            selectedFile.properties['type'] == 'model' ||
            selectedFile.properties['type'] == 'web'
          "
        >
          <ng-container
            *ngIf="apiKey ?? { id: selectedFile.id, key: '' } as apiKey"
          >
            <div
              class="w-100 mb-3"
              *ngIf="
                selectedFile.properties['type'] == 'model'
                  ? 'Model'
                  : 'SerpApi' as prefix
              "
            >
              <verticalai-text-field
                [title]="prefix + ' API Key'"
                [value]="apiKey.key"
                [bgColor]="'#1F1F1F'"
                [type]="'text'"
                [defaultValue]="''"
                [placeholder]="'API Key'"
                (changed)="saveAPIKey(selectedFile.id, $event)"
              >
              </verticalai-text-field>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedFile.componentType == 'switch'">
          <ng-container *ngIf="selectedFile | cast : BranchedStep as branchStep"
            ><div
              class="w-100 d-flex justify-content-between align-content-center mb-3 mt-4 text-white"
            >
              <p class="w-100">Branches</p>
              <mat-icon
                class="m-auto text-orange"
                role="button"
                (click)="newBranch(branchStep)"
              >
                add
              </mat-icon>
            </div>

            <div class="w-100" style="max-height: 400px; overflow-y: scroll">
              <div
                *ngFor="
                  let branch of (branchStep.branches | dictToArr) ?? [];
                  index as i
                "
              >
                <div class="w-100 mb-3">
                  <verticalai-text-field
                    [value]="branch.name"
                    [defaultValue]="'Option ' + (i + 1)"
                    [placeholder]="'Branch Name'"
                    [btn]="true"
                    [simplify]="true"
                    [btnIcon]="'close'"
                    [bgColor]="'#1F1F1F'"
                    (btnClicked)="deleteBranch(branchStep, branch.name)"
                    (changed)="
                      isNameTaken($event, branchStep)
                        ? null
                        : changeBranchName($event, branchStep, i)
                    "
                  >
                  </verticalai-text-field>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="w-100 h-100" *ngIf="mode == 2">
        <div class="w-100">
          <div matDialogTitle class="text-white">Project Settings</div>
          
          <div class="wrap-input1 w-100 py-3 px-0">
            <p class="w-100 mb-3 text-white">Project Icon</p>

            <div
              class="w-auto rounded-icon border-table shadow d-flex justify-content-center align-items-center"
              style="
                object-fit: contain;
                aspect-ratio: 1;
                height: 60px;
                overflow: hidden;
                background-color: #131313d4;
              "
            >
              <div
                class="m-auto position-relative img-input"
                style="height: 90%; width: 90%; overflow: hidden"
                role="button"
                (click)="appImgInput.click()"
              >
                <img
                  class="w-100 h-100 position-absolute"
                  style="z-index: 50; object-fit: cover"
                  [src]="workflow.displayUrl"
                  id="imgIcon"
                />
                <!-- <div
                  class="w-100 h-100 position-absolute img-input-display bg-orange text-white"
                  style="z-index: 51; opacity: 0.5"
                >
                  <mat-icon class="m-auto">upload </mat-icon>
                </div> -->
                <input
                  #appImgInput
                  type="file"
                  (change)="fileChangeEvent($event, 1)"
                  style="display: none"
                />
              </div>
            </div>
          </div>

          <div class="wrap-input1 w-100 pb-3">
            <verticalai-text-field
            [title]="'Project Name'"
            [bgColor]="'#1F1F1F'"
            [value]="workflow.name"
            [defaultValue]="workflow.name"
            [placeholder]="'Project Name'"
            (changed)="workflow.name = $event"
          >
          </verticalai-text-field>

          </div>
        
        </div>
      </div>
      <button
        class="btn bg-theme border-0 rounded-10 fw-bold text-white d-flex justify-content-center px-3 align-content-center py-2 mt-4"
        (click)="save()"
      >
        <!-- (click)="edited ? save() : publish(workflow)"
        [disabled]="loading" -->
        <ng-container *ngIf="loading; else buttonTitles">
          <span class="mx-auto">
            {{ "Saving" }}
            <span
              class="spinner-border spinner-border-sm ms-2 m-auto"
              role="status"
              aria-hidden="true"
            ></span>
          </span>
        </ng-container>

        <ng-template #buttonTitles>
          <ng-container> {{ "Done" }}</ng-container>
        </ng-template>
      </button>
    </div>
  </div>
</div>
